<h1>OpenPost</h1>
<a href="facebook">Protected url by Facebook: /facebook</a><br />
<a href="twitter">Protected url by Twitter: /twitter</a><br />
<a href="form">Protected url by form authentication: /form</a><br />
<a href="basicauth">Protected url by basic auth: /basicauth</a><br />
<br />
<div>
	Logout
	<a href="logout">Logout</a>
</div>
<br /><br />
profile : {{profile}}
<br /><br />
<hr />

<a href="{{facebookUrl}}">Login with Facebook</a><br />
<a href="{{twitterUrl}}">Login with Twitter</a><br />
<a href="{{formUrl}}">Login with form</a><br />
<a href="{{baUrl}}">Login with basic auth</a><br />


</div>

<script src="/js/jquery.js"></script>
<script src="/js/angular.js"></script>
<script src="/js/angular-route.js"></script>
<script src="/js/angular-cookies.js"></script>
<script src="/js/angular-sanitize.js"></script>
<script src="/js/angular-resource.js"></script>
